<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css?version=10" />
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script type="text/javascript" src="js/menu.js" defer></script>
    <script src="js/js_script.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    
    <title>Real burgers, not Donken</title>
    
  </head>
  
  <body>
    
    <main>
      
      <div class="img-container">
        <div class="inner-container">>
          <h1>Welcome to Real Burgers, not Donken</h1>
        </div>
      </div>
      
      <section id="wrapper">
        <div id="burgerHeader">
          <h2> {{ header }} </h2>      
          <h3>{{ menu }}</h3>
        </div>
        <div>
          <div id="container">
            <div class="gridCell" v-for="burger in burgers">
              <h4 class="gridHead">{{burger.name}}</h4>
              <label class="checkBurgerLaber" for="checkBurger">
                Choose burger:
                <input
                  id="checkBurger"
                  name="selectBurger"
                  type="checkbox"
                  :value="burger.name"
                  />
              </label>

              <img v-bind:src="burger.imgPath" />
              <ul>
                <li>{{burger.kCal + " calories"}}</li>
                <li v-if="burger.lactose">{{lactose}}</li>
                <li v-if="burger.gluten">{{gluten}}</li>
              </ul>
            </div>
          </div>
      </section>

      <section id="customerInfo">
        <h2>Customer information</h2>
        <p>This is where you provide neccessary information</p>   
        <main>
          <section id="contact">
            <form>
              <p>
                <label for="fullName">Full name</label><br>
                <input
                  v-model="fullName"
                  type="text"
                  id="fullName"
                  name="fullName"
                  required="required"
                  placeholder="First and last name"/>
              </p>
              
              <p>
                <label for="Email">E-mail</label><br>
                <input
                  v-model="email"
                  type="email"
                  id="E-mail"
                  name="E-mail"
                  placeholder="Email address" />
              </p>
              
              <!-- <p> -->
              <!--   <label for="StreetAddress">Street</label><br> -->
              <!--   <input -->
              <!--     v-model="street" -->
              <!--     type="text" -->
              <!--     id="Street" -->
              <!--     name="Street" -->
              <!--     placeholder="Street name" /> -->
              <!-- </p> -->
              <!-- <p> -->
              <!--   <label for="HouseNumber">House</label><br> -->
              <!--   <input -->
              <!--     v-model="house" -->
              <!--     type="number" -->
              <!--     id="House" -->
              <!--     name="House" -->
              <!--     placeholder="House number" /> -->
              <!-- </p> -->
              
          </section>
          
          <p>
            <label for="payment options">Payment options</label><br />
            <select v-model="payment" id="payment options" name="payment">
              <option value="Visa"> Visa </option> 
              <option value="Mastercard"> Mastercard </option>
              <option checked="checked"  value="Swish"> Swish </option>
              <option value="Bitcoin"> Bitcoin </option>
            </select>
          </p>

          <p> Gender <br>
            <input v-model="value" type="radio" name="gender" value="male"> Male <br>
            <input v-model="value" type="radio" name="gender" value="female"> Female <br>
            <input v-model="value" type="radio" name="gender" value="dont wish" checked="checked"> Do not wish to provide <br>
          </p>
          
          </form>          
      </section>
      
      <div>
        <h1>Click in the map!</h1>
        <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
  
        <div class="view-box">
          <div id="dots" v-on:click="displayOrder">
            <div v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
              {{order.orderId}}
            </div>
          </div>
        </div>
        
        <section id="orderbutton">
          <button
            v-on:click="addOrder"
            type="submit"
            value="send">
            <img src="https://image.flaticon.com/icons/svg/198/198416.svg" />Pls give burger
          </button>  
        </section>
        
        <section id="currentOrder" v-if="submitted">
          <h3>Latest order</h3>
          <div v-if="submitted">Name: {{fullName}}</div>
          <div>E-mail: {{email}}</div>
          <div>Payment method: {{payment}}</div>
          <div>Gender: {{value}}</div>
          <ul>
            <li v-for="(item,index) in checkedBurger" >{{item}}</li>
          </ul>
        </section>
        
      </main>

      <hr>
      <footer> Pls don't steal my webpage </footer>
      <br>

  </body>  
</html>

