body {
    font-family: arial;
    font-size: 120%;
}

.allergy {
    color: #ff5500;
}

#burgerinfo {
    color: white;
    background-color: black;
}

#customerinfo {}

button:hover {
    cursor: pointer;
    background-color: coral;
}